Projeção economica


Cenários:
    
Otimisa = (expansão) - Prob 20% = Receita sobe 30% = Lucro 2m

Base = (analista - peso maior) - Prob 50% = Receita fica 0% = Lucro de 1.8m

Pessimista = (regressão da economia) - Prob 30% = Receita cai 20% = Lucro 1,2m

Lei dos grandes numeros ?


Estatistaca (Distribuição de probabiliadde (dis normal)

Probabilidade ex: Lucro


(Media aritimetica ponderada)

2 * 20% 

1.8 * 50% 

3 * 30%

Media ponderada = 1.66m

In [1]:
import sys
#!pip install xgboost

In [2]:
def calculaWacc(array_parametros):
    dados = array_parametros;
    
    soma = ((dados['capitalProprio'] * dados['ks']) + (dados['capitalTerceiro'] * dados['kd']))
    
    return (soma / (dados['capitalTerceiro'] + dados['capitalProprio']))

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from xgboost import XGBRegressor



pd.set_option('display.max_columns', None) #display all columns
pd.set_option('display.max_rows', None) #display all rows

In [4]:
# Setando os dados

custosAnuais = [
    {"ano":1, "valor": 487716},
    {"ano":2, "valor": 547716},
    {"ano":3, "valor": 607716},
];

produtos = [
    {
        "mix": 0.14,
        "custo":1.26,
        "preco":4.9,
        "ano":0,
        "mcu": 3.64,
        "nome": "Pastel Grande",
        "rateio": 0,
        "pde": 0,
        "quantidade":30000,
        "receita":0,
    },
    {
        "mix": 0.14,
        "custo":0.81,
        "preco":3.8,
        "ano":0,
        "mcu": 2.99,
        "nome": "Pastel Medio",
        "rateio": 0,
        "pde": 0,
        "quantidade":38000,
        "receita":0,
    },
    {
        "mix": 0.24,
        "custo":0.26,
        "preco":1.5,
        "ano":0,
        "mcu": 1.24,
        "nome": "Mini Pastel",
        "rateio": 0,
        "pde": 0,
        "quantidade":110000,
        "receita":0,
    },
    {
        "mix": 0.14,
        "custo":1.84,
        "preco":6.1,
        "ano":0,
        "mcu": 4.26,
        "nome": "Cheeseburguers",
        "rateio": 0,
        "pde": 0,
        "quantidade":18000,
        "receita":0,
    },
    {
        "mix": 0.10,
        "custo":4.68,
        "preco":11.38,
        "ano":0,
        "mcu": 6.7,
        "nome": "Cestaas",
        "rateio": 0,
        "pde": 0,
        "quantidade":8964,
        "receita":0,
    },
    {
        "mix": 0.10,
        "custo":4.99,
        "preco":7.95,
        "ano":0,
        "mcu": 2.96,
        "nome": "Minutas",
        "rateio": 0,
        "pde": 0,
        "quantidade":18000,
        "receita":0,
    },
    {
        "mix": 0.14,
        "custo":2.6,
        "preco":3.6,
        "ano":0,
        "mcu": 1,
        "nome": "Bebidas",
        "rateio": 0,
        "pde": 0,
        "quantidade":67000,
        "receita":0,
    }
];

In [5]:
a = []

for anoCusto in custosAnuais:
    for produto in produtos:
        produto["rateio"] = anoCusto["valor"] * produto["mix"]
        produto["pde"] = produto["rateio"] / produto["mcu"]
        produto["ano"] = anoCusto["ano"]
    
        a.append({
            "nome": produto["nome"],
            "mix": produto["mix"],
            "ano":produto["ano"],
            "mcu": produto["mcu"],
            "custo": produto["custo"] * produto["quantidade"],
            "preco": produto["preco"],
            "rateio": produto["rateio"],
            "pde": produto["pde"],
            "receita": produto["preco"] * produto["quantidade"]
        })

In [6]:
dataSet = pd.DataFrame(list(a), columns=["nome", "mix", "mcu", "custo", "preco","ano", "rateio", "pde", "receita"])

In [23]:
ano = dataSet[dataSet["ano"] == 3]

ano

,nome,mix,mcu,custo,preco,ano,rateio,pde,receita
14,Pastel Grande,0.14,3.64,37800.00,4.90,3,85080.24,23373.692308,147000.00
15,Pastel Medio,0.14,2.99,30780.00,3.80,3,85080.24,28454.929766,144400.00
16,Mini Pastel,0.24,1.24,28600.00,1.50,3,145851.84,117622.451613,165000.00
17,Cheeseburguers,0.14,4.26,33120.00,6.10,3,85080.24,19971.887324,109800.00
18,Cestaas,0.10,6.70,41951.52,11.38,3,60771.60,9070.388060,102010.32
19,Minutas,0.10,2.96,89820.00,7.95,3,60771.60,20530.945946,143100.00
20,Bebidas,0.14,1.00,174200.00,3.60,3,85080.24,85080.240000,241200.00

In [22]:

receita = ano["receita"].sum()
custo = ano["custo"].sum()

print 'receita:', receita
print 'custo:', custo

#Calcular o WACC que é o CMPC para a tabela de taxas

receita: 1052510.32
custo: 436271.52

In [9]:
custo = 200

capitalProprio = 200 * 0.40
ks = 0.15

capitalTerceiro = 200 * 0.60
kd = 0.10

print "Capital Proprio ", capitalProprio

print "Capital Terceiro ", capitalTerceiro

Capital Proprio  80.0
Capital Terceiro  120.0

In [10]:
dadosWacc = {
    "capitalTerceiro": capitalProprio,
    "kd": kd,
    "capitalProprio":capitalTerceiro,
    "ks": ks
}

WACC = calculaWacc(dadosWacc)

print "CMPC - ",WACC * 100, "%"

CMPC -  13.0 %

In [42]:
# Probabilidade

dfAlugueis = pd.DataFrame({
    'prob': [25, 40, 35],
    'aluguel': [120000, 180000, 240000]
});

# Custo fixo sem aluguel 30643

custoFixoSemAluguel = 0

dfAlugueisPonderados = dfAlugueis["aluguel"] * (dfAlugueis["prob"] / 100)

dfAlugueisPonderados.head()

0    30000.0
1    72000.0
2    84000.0
dtype: float64

In [43]:
dfAlugueisPonderados.describe()

count        3.000000
mean     62000.000000
std      28354.893758
min      30000.000000
25%      51000.000000
50%      72000.000000
75%      78000.000000
max      84000.000000
dtype: float64