Lucro Liquido depende aos sócios


## Capital próprio

PR = Patrimonio Liquido


A empresa não tem obrigação de remunerar os sócios

Retorno pelo tempo = custo de oportunidade

Taxa livre de Risco = 6%

Rf = taxa livre de risco

Ks = RF + b * (Rm - Rf)

Ks = 6000/40000 = 15% + 4% + 19%

In [21]:
# Exercicio


Aplicou = 40

renda = 6.0 #anual

rentabilidade = renda / 40.0

risco = (rentabilidade * 100) + 4

print risco

19.0

In [30]:
import pandas as pd
import numpy as np

# https://br.investing.com/rates-bonds/u.s.-10-year-bond-yield-historical-data
datasetEuaDezAnos = pd.read_csv('eua_dez_anos.csv')

datasetEuaDezAnos.head()

     Data Último Abertura Máxima Mínima     Var%
0  Ago 19  1,603    2,027  2,058  1,495  -20,13%
1  Jul 19  2,007    2,045  2,150  1,939    0,00%
2  Jun 19  2,007    2,126  2,178  1,974   -5,91%
3  Mai 19  2,133    2,509  2,578  2,126  -14,82%
4  Abr 19  2,504    2,430  2,614  2,424    4,03%